/* login.css */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #FFC0CB, white);
  color: #333;
  font-family: Arial, sans-serif;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #1f2937;
}


.login-container form {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
}


.login-container input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.login-container input:focus {
  outline: none;
  border-color: #FFB6C1;
  box-shadow: 0 0 5px rgba(255, 182, 193, 0.6);
}


.login-container button {
  padding: 12px;
  background: #FFB6C1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #FFC0CB;
}


.login-register {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #4b5563;
}

.login-register a {
  color: #FF69B4;
  text-decoration: none;
  font-weight: bold;
}

.login-register a:hover {
  text-decoration: underline;
}
